DATABASE_URL="postgresql://postgres:password@localhost:5432/helpdesk?schema=public"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:5173"

ADMIN_EMAIL=""
ADMIN_PASSWORD=""

VITE_API_URL=http://localhost:3000
